@import '../utils/vars';

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: $text-color-accent;

}

.header__logo {
  margin-right: 97px;
}

.footer_logo {
  margin-bottom: 10px;
  display: block;
}
